{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
<article class="summary col-md-12 {{post_class}}">
    <header>
        <h2 class="title">
        <a href="{{url}}">{{{title}}}

        </a> 

        </h2>

    </header>
           <div class="subhead"> Posted on <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM DD일, YYYY"}}</time>; tags:{{tags prefix="<span class='fa fa-tags'></span>&nbsp;"}}</div>

    <section class="description">
        <a class="read-more" href="{{url}}">
            <p>{{excerpt words="30"}} (read more)
            </p>
        </a>    
    </section>
</article>
{{/foreach}}

{{! Previous/next page links - displayed on every page }}
<div class="row text-center">
    <div class="col-xs-12">
        {{pagination}}
    </div>
</div>
